* {
    margin: 0;
    padding: 0;
}



main h2{
    padding: 1%;
    font: oblique bold 200% cursive;
}

table {
    border: solid 1px #000000;
    width: 95%;
    border-radius: 2%;
    box-shadow: 2px 2px 2px #000000;
    background: linear-gradient(to bottom, rgb(197, 186, 33), white);
    margin-left: 2%;
}

tr {
    
    padding: 2%;
}
td{
    height: 500px;
    padding: 2%;
}
td iframe{
    width: 100%;
    height: 100%;
    border: solid 1px #000000;
    box-shadow: 2px 2px 2px #000000;
    border-radius: 3%;
}

th{
    
    font: oblique bold 150% cursive;
}