* {
    margin: 0;
    padding: 0;
}



main{
    margin-top: 1%;
    border: solid 1px #000000;
    text-align: center;
    background: linear-gradient(to bottom, rgb(197, 186, 33), white);
    width: 70%;
    margin-left: 15%;
    border-radius: 2%;
    box-shadow: 2px 2px 2px #000000;
}

main h2{
    text-align: center;
    font: oblique bold 120% cursive;

}

main p{
    font: oblique bold 100% cursive;
}
main form{
    margin-top: 1%;
    font: oblique bold 100% cursive;
    border: solid 1px #000000;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 2%;
    background: linear-gradient(to bottom, rgb(126, 33, 33), white);
    border-radius: 2%;
    box-shadow: 2px 2px 2px #000000;
}

main iframe{
    border-radius: 2%;
    margin-bottom: 2%;
    border: solid 1px #000000;
    box-shadow: 2px 2px 2px #000000;
}