* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to bottom, rgb(128, 7, 7), rgb(56, 55, 55));
}

body h1{
    text-align: center;
    font: oblique bold 250% cursive;
    padding: 5px;
    margin-left: 8%;
}

div{
    margin-top: 2%;
    width: 50%;
    height: 30vh;
    border: solid 2px #000000;
    box-shadow: 2px 2px 2px #000000;
    margin-left: 28%;
    border-radius: 3%;
}

div img{
    height: 100%;
    width: 100%;
    border-radius: 3%;
}

nav{
    margin-top: 1%;
   
}
li a{
    text-decoration: none;
    border: solid 1px #000000;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #000000;
    padding: 5px;
    display: inline-block;
    font: oblique bold 100% cursive;
    background: linear-gradient(to bottom, rgb(11, 107, 40), white);
}

ul li{
    display: inline-block;
    margin-left: 20px;
    box-shadow: 2px 2px 2px #000000;
}

nav ul{
    margin-left: 33%;
}

footer {
    margin-top: 1%;
    border: solid 2px #000000;
    padding: 2%;
    font: oblique bold 150% cursive;
    border-radius: 10%;
    background: linear-gradient(to bottom, rgb(11, 107, 40), white);
}

footer img{
    width: 20px;
}

footer p{
    display: inline-block;
    margin-left: 45%;
}

main{
    margin-top: 1%;
    border: solid 1px #000000;
    text-align: center;
    background: linear-gradient(to bottom, rgb(197, 186, 33), white);
    width: 70%;
    margin-left: 15%;
    border-radius: 2%;
    box-shadow: 2px 2px 2px #000000;
}

main h2{
    text-align: center;
    font: oblique bold 120% cursive;

}

main p{
    font: oblique bold 100% cursive;
}
main form{
    margin-top: 1%;
    font: oblique bold 100% cursive;
    border: solid 1px #000000;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 2%;
    background: linear-gradient(to bottom, rgb(126, 33, 33), white);
    border-radius: 2%;
    box-shadow: 2px 2px 2px #000000;
}

main iframe{
    border-radius: 2%;
    margin-bottom: 2%;
    border: solid 1px #000000;
    box-shadow: 2px 2px 2px #000000;
}