* {
    margin: 0;
    padding: 0;
}



section {
    margin-left: 1%;
    margin-top: 1%;
    border: solid 1px #000000;
    width: 98%;
    border-radius: 2%;
    box-shadow: 2px 2px 2px #000000;
    background: linear-gradient(to bottom, rgb(197, 186, 33), white);
}
section h2{
    text-align:center;
    font: oblique bold 150% cursive;
    padding: 1%;
}
td {
    height: 350px;
    border-radius: 2%;
}

td img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

section table{
    width: 90%;
    
    margin-left: 5%;
    margin-bottom: 1%;
}