* {
    margin: 0;
    padding: 0;
}



article{
    margin-top: 1%;
    border: solid 2px #000000;
    padding: 2%;
    font: oblique bold 150% cursive;
    border-radius: 10%;
    background: linear-gradient(to bottom, rgb(197, 186, 33), white);
    
}

aside{
    margin-top: 1%;
    border: solid 2px #000000;
    padding: 2%;
    font: oblique bold 100% cursive;
    border-radius: 5%;
    background: linear-gradient(to bottom, rgb(197, 186, 33), white);
    width: 80%;
    margin-left: 8%;
}

aside p{
    text-align: center;
    
}

aside h2{
    text-align: center;
    padding: 1%;
}