* {
    margin: 0;
    padding: 0;
}

main{
    padding: 2%;
    
}

main aside{
    border: solid 1px #000000;
    border-radius: 3%;
    width: 40%;
    height: 630px;
    box-shadow: 2px 2px 2px #000000;
    display: inline-block;
    
}

aside img{
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

main article{
    display: inline-block;
    border: solid 1px #000000;
    width: 40%;
    height: 630px;
    vertical-align: top;
    box-shadow: 2px 2px 2px #000000;
    margin-left: 19%;
    border-radius: 3%;
    text-align: center;
    background: linear-gradient(to bottom, rgb(197, 186, 33), white);
}

article h1{
    padding: 2%;
    font: oblique bold 200% cursive;
}

article p{
    padding: 2%;
    font: oblique bold 150% cursive;
}